.aside{
    padding:245px 0px 200px 0px;
    .container{
        max-width: 1111px;
        margin: 0 auto;
        position: relative;
    }
    &__bacround{
        width: 100%;
        position: absolute;
        top: -120px;
        left: 0px;
        z-index: -1;
        &-pic{
            width: 100%;
            height: 196px;
        }
    }
    &__list{
        display: flex;
        align-items:end;
        justify-content: space-between;
        gap: 30px;
        &-item{
            width: 24%;
        }
        &-box{
            display: flex;
            flex-direction: column;
        }
        &-title{
            padding-top: 74px;
            font-family: Fraunces;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
            text-align: center;
            color:$Dark-grey-blue;
        }
        &-text{
            padding-top: 24px;
            font-family: Barlow;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: center;
            color:$Dark-grey-blue;
        }
        &-img{
            width:100%;
        }
    }
}
@media screen and (max-width:920px){
    .aside{
        &__list{
            align-items:start;
        }
    }
    
}
@media screen and (max-width:690px){
    .aside{
        &__list{
            flex-direction: column;
            align-items: center;
            &-item{
                display: flex;
                width:85%;
            }
            &-img{
                width: 256px;
            }
            &-title{
                text-align: left;
            }
            &-text{
                text-align: left;
            }
        }
        &__bacround{
            top: -50px;
        }
    }
    
}
@media screen and (max-width:520px){
    .aside{
        &__bacround{
            top: -180px;
            display: flex;
            justify-content:center;
            &-pic{
                width: 90%;
            }
        }
        &__list{
            align-items:center;
            &-item{
                flex-direction: column;
                align-items:center;
            }
            &-img{
                width: 256px;
            }
            &-title{
                text-align:center;
            }
            &-text{
                text-align:center;
            }
        }
    }
    
}
