.content{
    .container{
        display: flex;
        flex-direction: column;
        align-items:center;
        background:$Dark-grey-blue;
        border-radius: 15px;
        position: relative;
    }
    &__block{
        padding: 100px 0px 317px 0px;
        width:540px;
        &-title{
            padding-bottom: 32px;
            font-family: Fraunces;
            font-size: 40px;
            font-weight: 900;
            line-height: 48px;
            text-align: center;
            color:$BG;
        }
        &-text{
            font-family: Barlow;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: center;
            color:$BG;
        }
    }
    &__box{
        width:100%;
        padding: 0 85px;
        position: absolute;
        bottom:-150px;
        &-list{
            gap: 35px;
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
        &-item{
            width: 32%;
            height: 382px;
            background:$Dark-cyan;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content:end;
            &:hover{
                background:$btn-hover;
            }
            &:active{
                background:$btn-akt;
            }
        }
        &-img{
            width: 72px;
            height: 72px;
        }
        &-image{
            width: 72px;
            height: 50px;
        }
        &-span{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-title{
            padding-top: 56px;
            font-family: Fraunces;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
            text-align: center;
            color:$BG;
            &:active{
                color:$Dark-cyan;
            }
        }
        &-text{
            padding-top: 24px;
            padding-bottom: 48px;
            width: 80%;
            font-family: Barlow;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: center;
            color:$BG;
            &:active{
                color:$Dark-cyan;
            }
        }
    }
    
}
@media screen and (max-width:920px){
    .content{
        &__box{
            padding:0px 65px;
        }
        &__box{
            &-item{
                justify-content:center;
            }
            &-img{
                width: 72px;
                height: 72px;
            }
            &-image{
                width: 72px;
                height: 50px;
            }
        }
    }
}
@media screen and (max-width:690px){
    .content{
        .container{
            border-radius: 5px;
        }
        &__block{
            padding-bottom: 400px;
        }
        &__box{
            padding:57px;
            bottom: -350px;
            &-list{
                flex-direction: column;
            }
            &-item{
                width: 100%;
                height: 170px;
                flex-direction:row;
            }
            &-img{
                width: 55px;
                height: 56px;
            }
            &-image{
                width: 55px;
                height: 39px;
            }
            &-span{
                padding-left: 40px;
                width: 75%;
                align-items: start;
            }
            &-title{
                text-align: left;
            }
            &-text{
                font-size: 15px;
                text-align: left;
            }
        }
    }
}
@media screen and (max-width:580px) {
    .content{
        &__block{
            width: 90%;
            padding-bottom: 350px;
        }
        &__box{
            bottom: -300px;
        }
    }
}
@media screen and (max-width:400px) {
    .content{
        &__block{
            padding-top: 50px;
            padding-bottom: 670px;
            &-title{
                font-size: 28px;
            }
            &-text{
                display: none;
            }
        }
        &__box{
            bottom: -680px;
            &-item{
                flex-direction: column;
                width: 90%;
                height: 382px;
            }
            &-span{
                padding-left: 0;
                width: 100%;
                align-items:center;
            }
            &-img{
                width: 72px;
                height: 72px;
            }
            &-image{
                width: 72px;
                height: 50px;
            }
            &-title{
                text-align:center;
            }
            &-text{
                text-align: center;
            }
        }
    }
}